.git
.pytest_cache
.ruff_cache
.mypy_cache
.venv
__pycache__
*.py[cod]
*.egg-info

build
dist
docs/site
htmlcov
manual_test
tests

.env
.vscode
.DS_Store

reports/*
!reports/figures/
!reports/figures/**
